<main id="add-event-main">
  <button id="add-event-button" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
  </button>
  <div class="form-container">
    <form id="buy-ticket-form-container" [formGroup]="buyTicketForm" (ngSubmit)="buyTicket()">
      <label style="font-size: 20px;">Formularz kupowania biletu na: </label>
      <label style="font-size: 18px;">{{ event?._nazwa }}</label>
      <input formControlName="imie" type="text" placeholder="Imię">
        <div class="error" *ngIf="buyTicketForm.controls['imie'].errors?.['required']">Imię jest wymagane</div>
        <div class="error" *ngIf="buyTicketForm.controls['imie'].errors?.['minlength']">Imię musi mieć min. 3 znaki</div>
        <div class="error" *ngIf="buyTicketForm.controls['imie'].errors?.['maxlength']">Imię może mieć maks. 30 znaków</div>

      <input formControlName="nazwisko" type="text" placeholder="Nazwisko">
        <div class="error" *ngIf="buyTicketForm.controls['nazwisko'].errors?.['required']">Nazwisko jest wymagane</div>
        <div class="error" *ngIf="buyTicketForm.controls['nazwisko'].errors?.['minlength']">Nazwisko musi mieć min. 3 znaki</div>
        <div class="error" *ngIf="buyTicketForm.controls['nazwisko'].errors?.['maxlength']">Nazwisko może mieć maks. 30 znaków</div>

      <input formControlName="data_urodzenia" type="text" placeholder="Data urodzenia" onblur="(this.type = 'text')" onfocus="(this.type = 'date')">
        <div class="error" *ngIf="buyTicketForm.controls['data_urodzenia'].errors?.['required']">Data ur. jest wymagana</div>
        <div class="error" *ngIf="buyTicketForm.controls['data_urodzenia'].errors?.['validBirthDate']">Musisz mieć ukończone 18 lat</div>

      <input formControlName="email" type="email" placeholder="E-mail">
        <div class="error" *ngIf="buyTicketForm.controls['email'].errors?.['required']">Email jest wymagany</div>
        <div class="error" *ngIf="buyTicketForm.controls['email'].errors?.['validEmail']">Niepoprawny format</div>

      <input formControlName="nr_telefonu" type="number" placeholder="Numer telefonu">
        <div class="error" *ngIf="buyTicketForm.controls['nr_telefonu'].errors?.['required']">Nr telefonu jest wymagany</div>
        <div class="error" *ngIf="buyTicketForm.controls['nr_telefonu'].errors?.['min']">Niepoprawny numer telefonu</div>
        <div class="error" *ngIf="buyTicketForm.controls['nr_telefonu'].errors?.['max']">Niepoprawny numer telefonu</div>

      <button [disabled]="!buyTicketForm.valid" type="submit">Zatwierdź</button>
    </form>
  </div>
</main>
