<main id="add-event-main">
  <button id="add-event-button" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
  </button>
  <div class="form-container">
    <form id="buy-ticket-form-container" [formGroup]="buyTicketForm" (ngSubmit)="buyTicket()">
      <label style="font-size: 20px;">Formularz kupowania biletu na: </label>
      <label style="font-size: 18px;">{{ event?._nazwa }}</label>
      <input formControlName="imie" type="text" placeholder="Imię" ngModel required minlength="3" maxlength="20">
      <input formControlName="nazwisko" type="text" placeholder="Nazwisko" ngModel required minlength="3" maxlength="20">
      <input formControlName="data_urodzenia" validDateBirth type="text" placeholder="Data urodzenia" onblur="(this.type = 'text')" onfocus="(this.type = 'date')" ngModel required>
      <input formControlName="email" type="email" placeholder="E-mail" ngModel required email>
      <input formControlName="nr_telefonu" type="number" placeholder="Numer telefonu" ngModel required>
      <button [disabled]="!buyTicketForm.valid" type="submit">Zatwierdź</button>
      <p style="color: blue; font-size: 20px;">{{ buyTicketForm.valid }}</p>
    </form>
  </div>
</main>
