<main id="add-event-main">
  <button id="add-event-button" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
  </button>
  <div class="form-container">
    <form id="event-form-container" [formGroup]="eventForm" (ngSubmit)="addEventToEventList()">
      <label>Formularz edycji wydarzenia: {{ event._nazwa }}</label>
      <input formControlName="nazwa" placeholder="Nazwa wydarzenia">
        <div class="error" *ngIf="eventForm.controls['nazwa'].errors?.['required']">Nazwa wydarzenia jest wymagana</div>
        <div class="error" *ngIf="eventForm.controls['nazwa'].errors?.['maxlength']">Nazwa wydarzenia może mieć maks. 30 znaków</div>

      <input formControlName="rodzaj" placeholder="Rodzaj wydarzenia">
        <div class="error" *ngIf="eventForm.controls['rodzaj'].errors?.['required']">Rodzaj wydarzenia jest wymagany</div>
        <div class="error" *ngIf="eventForm.controls['rodzaj'].errors?.['maxlength']">Rodzaj wydarzenia może mieć maks. 30 znaków</div>

      <input formControlName="organizator" placeholder="Organizator wydarzenia">
        <div class="error" *ngIf="eventForm.controls['organizator'].errors?.['required']">Organizator wydarzenia jest wymagany</div>
        <div class="error" *ngIf="eventForm.controls['organizator'].errors?.['maxlength']">Organizator wydarzenia może mieć maks. 30 znaków</div>

      <input formControlName="miejsce" placeholder="Miejsce wydarzenia">
        <div class="error" *ngIf="eventForm.controls['miejsce'].errors?.['required']">Miejsce wydarzenia jest wymagane</div>
        <div class="error" *ngIf="eventForm.controls['miejsce'].errors?.['maxlength']">Miejsce wydarzenia może mieć maks. 30 znaków</div>

      <input formControlName="max_ilosc_osob" type="number" placeholder="Maks. ilość osób">
        <div class="error" *ngIf="eventForm.controls['max_ilosc_osob'].errors?.['required']">Maks. ilość osób wydarzenia jest wymagana</div>
        <div class="error" *ngIf="eventForm.controls['max_ilosc_osob'].errors?.['max']">Wydarzenie może mieć maks. 10000 osób</div>

      <input formControlName="data_wydarzenia" type="text" placeholder="Data wydarzenia" onblur="(this.type = 'text')" onfocus="(this.type = 'date')">
        <div class="error" *ngIf="eventForm.controls['data_wydarzenia'].errors?.['required']">Data wydarzenia jest wymagana</div>
        <div class="error" *ngIf="eventForm.controls['data_wydarzenia'].errors?.['validEventDate']">Data wydarzenia nie może być wcześniejsza niż dzisiejsza</div>

      <input formControlName="cena_biletu" type="number" placeholder="Cena biletu">
        <div class="error" *ngIf="eventForm.controls['cena_biletu'].errors?.['required']">Cena biletu jest wymagana</div>
        <div class="error" *ngIf="eventForm.controls['cena_biletu'].errors?.['max']">Cena bletu może wynosić maks. 1000 zł</div>

      <app-add-plan [eventPlan]="eventPlan"></app-add-plan>

      <button [disabled]="!eventForm.valid" type="submit">Zatwierdź</button>
    </form>
  </div>
</main>
