<div>
  <form [formGroup]="planForm" (ngSubmit)="addPlan()">
    <label>Utwórz plan: </label>
    <input type="text" formControlName="nazwa" placeholder="Nazwa planu"/>
    <input type="text" formControlName="godz_rozpoczecia" placeholder="Godzina rozp." onblur="(this.type = 'text')" onfocus="(this.type = 'time')">
    <input type="text" formControlName="godz_zakonczenia" placeholder="Godzina zak." onblur="(this.type = 'text')" onfocus="(this.type = 'time')">
    <button *ngIf="eventPlan.length < 10" [disabled]="!planForm.valid" type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/></svg>
    </button>

    <div id="errors">
      <div class="error" *ngIf="planForm.controls['nazwa'].errors?.['required']">Nazwa planu jest wymagana</div>
      <div class="error" *ngIf="planForm.controls['nazwa'].errors?.['minlength']">Nazwa planu musi mieć min. 5 znaków</div>
      <div class="error" *ngIf="planForm.controls['nazwa'].errors?.['maxlength']">Nazwa planu może mieć maks. 30 znaków</div>
      <div class="error" *ngIf="planForm.controls['godz_rozpoczecia'].errors?.['required']">Godzina rozpoczęcia jest wymagana</div>
      <div class="error" *ngIf="planForm.controls['godz_zakonczenia'].errors?.['required']">Godzina zakończenia jest wymagana</div>
      <div class="error" *ngIf="planForm.controls['godz_zakonczenia'].errors?.['validEndHour']">Godzina zakończenia jest wcześniejsza niż rozpoczęcia</div>
    </div>
  </form>
  <ul>
    <li *ngFor="let plan of eventPlan; let i = index">
      <div id="plan-info">
        <div>
          {{ i + 1 }}.
          <span style="font-weight: 100;"> Od:</span> {{ plan._godz_rozpoczecia }}
          <span style="font-weight: 100;">, Do: </span> {{ plan._godz_zakonczenia }},
          {{ plan._nazwa }}
        </div>
      </div>
      <button class="delete-button" (click)="removePlan(i)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </svg>
      </button>
    </li>
  </ul>
</div>
