<main>
  <div *ngIf="isEventDetails()">
    <button (click)="back()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/></svg>
    </button>
    <div id="eventData" *ngIf="event">
      <label><span class="info">Nazwa: </span>{{ event._nazwa }}</label>
      <label><span class="info">Rodzaj: </span>{{ event._rodzaj }}</label>
      <label><span class="info">Miejsce: </span>{{ event._miejsce }}</label>
      <label><span class="info">Organizator: </span>{{ event._organizator }}</label>
      <label><span class="info">Liczba uczestników : </span>{{ event._uczestnicy.length }}</label>
      <label><span class="info">Maks. ilość osób: </span>{{ event._max_ilosc_osob }}</label>
      <label><span class="info">Data wydarzenia: </span>{{ event._data_wydarzenia | date: 'dd.MM.yyyy' }}</label>
      <label><span class="info">Cena biletu: </span>{{ event._cena_biletu | currency: 'PLN':'zł' }}</label><br>
      <app-plan [eventPlan]="eventPlan"></app-plan>
      <label ></label>
      <a (click)="buyTicket(event)" id="info">Kup bilet</a>

      <!-- TYLKO TESTOWE - WYŚWIETLANIE UCZESTNIKÓW WYDARZENIA -->
      <!-- <div *ngFor="let uczestnik of event._uczestnicy, let i = index">
          <span class="plan-info"></span>{{ uczestnik._imie }}
          <span class="plan-info"></span> {{ uczestnik._nazwisko }}
          <span class="plan-info"></span> {{ uczestnik._email }}
          <span class="plan-info"></span> {{ uczestnik._nr_telefonu }}
          <span class="plan-info"></span> {{ uczestnik._wiek }}
      </div> -->

    </div>
  </div>
  <div *ngIf="isBuyTicket()">
    <router-outlet></router-outlet>
  </div>
</main>
