<!-- <main id="container">
  <label><span class="info">Nazwa: </span>{{ event._nazwa }}</label>
  <label><span class="info">Rodzaj: </span>{{ event._rodzaj }}</label>
  <label><span class="info">Organizator: </span>{{ event._organizator }}</label>
  <label><span class="info">Miejsce: </span>{{ event._miejsce }}</label>
  <label><span class="info">Ilość osób: </span>{{ event._ilosc_osob }}</label>
  <label><span class="info">Max ilość osób: </span>{{ event._max_ilosc_osob }}</label>
  <label><span class="info">Data rozpoczęcia: </span>{{ event._data_rozpoczecia }}</label>
  <label><span class="info">Data zakończenia: </span>{{ event._data_zakonczenia }}</label>
  <label><span class="info">Cena biletu: </span>{{ event._cena_biletu }} zł</label>
</main> -->


<div>
  <h2>Szczegóły wydarzenia {{ eventId }}</h2>
</div>
