header {
  text-align: center;
  font-size: 70px;
  background-color: rgb(14, 57, 93);
  margin-top: -70px;
}

body {
  margin: 0px;
}

p  {
  font-family: "Century Gothic", serif;
  color: aliceblue;
  padding: 10px;
}

