html {
  overflow-y: scroll;
}

header {
  text-align: center;
  font-size: 70px;
  background-color: #19535F;
  box-shadow: inset 0px -5px 8px -6px #03423f;
  text-shadow: 0px 0px 20px #023633;
}

body {
  margin: 0px;
  background-color: #0B7A75;
}

p  {
  font-family: "Century Gothic", serif;
  font-weight: bold;
  font-size: 4.5vw;
  color: rgba(178, 224, 222, 0.937);
  padding: 10px;
  margin-block-start: 0px;
  margin-block-end: 30px;
  user-select: none;
}

