<main id="eventForm">
  <div id="eventData">
    <label><span class="info">Nazwa: </span>{{ event1._nazwa }}</label>
    <label><span class="info">Rodzaj: </span>{{ event1._rodzaj }}</label>
    <label><span class="info">Organizator: </span>{{ event1._organizator }}</label>
    <label><span class="info">Miejsce: </span>{{ event1._miejsce }}</label>
    <label><span class="info">Ilość osób: </span>{{ event1._ilosc_osob }}</label>
    <label><span class="info">Max ilość osób: </span>{{ event1._max_ilosc_osob }}</label>
    <label><span class="info">Data rozpoczęcia: </span>{{ event1._data_rozpoczecia }}</label>
    <label><span class="info">Data zakończenia: </span>{{ event1._data_zakonczenia }}</label>
    <label><span class="info">Cena biletu: </span>{{ event1._cena_biletu }} zł</label>
  </div>
</main>
