<main id="container">
  <div class="main-container"  *ngIf="(!isAddEvent() && !isEventDetails() && !isBuyTicket() && !isEditEvent())">
    <div class="control-container">
      <div class="search-container">
        <input [(ngModel)]="search" placeholder="Wyszukaj" id="search"/>
        <select [(ngModel)]="searchBy">
          <option value="nazwa">Nazwa</option>
          <option value="rodzaj">Rodzaj</option>
          <option value="miejsce">Miejsce</option>
        </select>
        <input [(ngModel)]="startDate" placeholder="Data początk." type="text" onblur="(this.type = 'text')" onfocus="(this.type = 'date')" class="date">
        <input [(ngModel)]="endDate" placeholder="Data końcowa" type="text" onblur="(this.type = 'text')" onfocus="(this.type = 'date')" class="date">
        <button (click)="clearPipe()" id="clear-btn" *ngIf="search != '' || searchBy != 'nazwa'  || startDate != '' || endDate!= ''"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16"><path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/></svg></button>
      </div>
        <button id="add-event-button" (click)="addEvent()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/></svg></button>
    </div>
    <div highlight scale [_scale]="1.03" id="eventData" *ngFor="let event of eventList | search: search:searchBy | searchByDate: startDate:endDate | dateFilter">
      <h2 class="title">{{ event._nazwa }}</h2>
      <label><span class="info">Rodzaj: </span>{{ event._rodzaj }}</label>
      <label><span class="info">Miejsce: </span>{{ event._miejsce }}</label>
      <label><span class="info">Data wydarzenia: </span>{{ event._data_wydarzenia | date: 'dd.MM.yyyy' }}</label>
      <div class="interact">
        <a scale [_scale]="1.1" (click)="showEventDetails(event)" id="info">Sczegóły</a>
        <a scale [_scale]="1.1" (click)="buyTicket(event)" *ngIf="event._uczestnicy.length < event._max_ilosc_osob">Kup bilet</a>
      </div>
    </div>
  </div>
  <div class="main-container" *ngIf="isAddEvent() || isBuyTicket() || isEventDetails() || isEditEvent()">
    <router-outlet></router-outlet>
  </div>
</main>
