#eventData {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  width: fit-content;
  text-align: left;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  border-color: cadetblue;
  padding: 20px;
  margin-block: 100px;
}

#eventForm {
  display: flex;
  justify-content: center;
}
