<main id="add-event-main">
  <button id="add-event-button" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
  </button>
  <div class="form-container">
    <form id="event-form-container" [formGroup]="eventForm" (ngSubmit)="addEventToEventList()">
      <label>Formularz dodawania wydarzenia</label>
      <input formControlName="nazwa" placeholder="Nazwa wydarzenia" ngModel required minlength="5" maxlength="30">
      <input formControlName="rodzaj" placeholder="Rodzaj wydarzenia" ngModel required minlength="5" maxlength="30">
      <input formControlName="organizator" placeholder="Organizator wydarzenia" ngModel required minlength="3" maxlength="50">
      <input formControlName="miejsce" placeholder="Miejsce wydarzenia" ngModel required minlength="0" maxlength="30">
      <input formControlName="max_ilosc_osob" type="number" placeholder="Maks. ilość osób" ngModel required max="999">
      <input formControlName="data_rozpoczecia" type="text" placeholder="Data rozpoczęcia" onblur="(this.type = 'text')" onfocus="(this.type = 'date')" ngModel required>
      <input formControlName="data_zakonczenia" type="text" placeholder="Data zakończenia" onblur="(this.type = 'text')" onfocus="(this.type = 'date')" ngModel required>
      <input formControlName="cena_biletu" type="number" placeholder="Cena biletu" ngModel required max="999">
      <button [disabled]="!eventForm.valid" type="submit">Zatwierdź</button>
      <p style="color: blue; font-size: 20px;">{{ eventForm.valid }}</p>
    </form>
  </div>
</main>

