<div>
  <form [formGroup]="planForm" (ngSubmit)="addPlan()">
    <label>Utwórz plan: </label>
    <input type="text" formControlName="nazwa" placeholder="Nazwa planu"/>
    <input type="text" formControlName="godz_rozpoczecia" placeholder="Godzina rozp." onblur="(this.type = 'text')" onfocus="(this.type = 'time')">
    <input type="text" formControlName="godz_zakonczenia" placeholder="Godzina zak." onblur="(this.type = 'text')" onfocus="(this.type = 'time')">
    <button *ngIf="eventPlan.length < 10" [disabled]="!planForm.valid" type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/></svg>
    </button>

    <div id="errors">
      <div class="error" *ngIf="planForm.controls['nazwa'].errors?.['required']">Nazwa planu jest wymagana</div>
      <div class="error" *ngIf="planForm.controls['nazwa'].errors?.['maxlength']">Nazwa planu może mieć maks. 30 znaków</div>
      <div class="error" *ngIf="planForm.controls['godz_rozpoczecia'].errors?.['required']">Godzina rozpoczęcia jest wymagana</div>
      <div class="error" *ngIf="planForm.controls['godz_zakonczenia'].errors?.['required']">Godzina zakończenia jest wymagana</div>
      <div class="error" *ngIf="planForm.controls['godz_zakonczenia'].errors?.['validEndHour']">Godzina zakończenia jest wcześniejsza niż rozpoczęcia</div>
    </div>
  </form>
  <app-plan-list-form [eventPlan]="eventPlan"></app-plan-list-form>
</div>
