<ul>
  <li *ngFor="let plan of eventPlan; let i = index">
    <div id="plan-info">
      <div>
        {{ i + 1 }}.
        <span style="font-weight: 100;"> Od:</span> {{ plan._godz_rozpoczecia }}
        <span style="font-weight: 100;">, Do: </span> {{ plan._godz_zakonczenia }},
        {{ plan._nazwa }}
      </div>
    </div>
    <button class="delete-button" (click)="removePlan(i)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>
    </button>
  </li>
</ul>
